NEXT_PUBLIC_ALCHEMY_API_KEY=FyioxGcZkq2HROsQVmJ1e1LpwGVUZZsX
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=9759191171c63d2af62003a0a36ed2d4
NEXT_PUBLIC_TENDERLY_DEVNET_RPC=https://rpc.vnet.tenderly.co/devnet/try/ebc534fe-fe99-46f2-ace3-42a65e009b8b
NEXT_PUBLIC_TENDERLY_SEPOLIA_RPC=https://sepolia.gateway.tenderly.co/7Yc2VxZmgnL01rGVFTeE33

ALCHEMY_API_KEY=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=

# To use Tenderly, you'll need to create a project and get your project's ID.
TENDERLY_ACCESS_KEY=
TENDERLY_PROJECT_SLUG=
TENDERLY_DEVNET_TEMPLATE=
TENDERLY_ACCOUNT_ID=
TENDERLY_DEVNET_RPC=
TENDERLY_DEVNET_CHAIN_ID=